header {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100vw 100%;
    margin: auto;
    color: white;
    background-image: url("../images/header.jpg");
    background-size: 100% 100%;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .14), 0 7px 5px -6px rgba(0, 0, 0, .2), 0 5px 9px 0 rgba(0, 0, 0, .12);
}

body {
    line-height: 150%;
    background-color: white;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ddd;
    text-align: center;
    font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif;
    font-size: 1em;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
}

#buttons-row {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

h1 {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#names-view {
    min-width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .14), 0 5px 3px -4px rgba(0, 0, 0, .2), 0 3px 7px 0 rgba(0, 0, 0, .12);
    border: solid 1px #009bdd;
    cursor: pointer;
    background-color: whitesmoke;
}

.container-flex {
    margin: 10px auto;
    margin-bottom: 200px;
}

#name-input {
    background-color: #009bdd;
    opacity: 0.5;
}

button.name-btn {
    margin: 5px 10px;
}

#wrapper {
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 20px auto;
}

.information {
    margin: 10px auto;
    padding: 5px;
    font-size: 1em;
    color: #0077aa;
}

p {
    font-size: 0.8em;
}


/*footer*/

#footernav {
    background-color: #666666;
    color: lightgray;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

#footernav a:link,
a:visited {
    color: lightgray;
}

.copy {
    padding: 5px;
}

.social {
    padding: 5px;
    margin: 0 auto;
}

@media (max-width: 990px) {
    #wrapper {
        padding-top: 10px;
        padding-bottom: 150px;
    }
}
@media (max-width: 375px) {
    body {
        font-size: 0.8em;
    }
    #footernav {
        display: none;
    }
    #wrapper {
        padding-bottom: 5px;
    }
    h1 {
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
        font-size: 1.5em;
    }
}
   